<div ng-controller="master" ng-show="Go">
    <hr />
    <h2>HTML Client <button class="btn " ng-click="$root.Show.Client=!$root.Show.Client"><span ng-show="$root.Show.Client">Hide</span><span ng-hide="$root.Show.Client">Show</span></button></h2>
    <hr />
    <div ng-show="$root.Show.Client">

        <h2>Layout HTML </h2>
        <pre>{{LayoutHTML}}</pre>
        <hr />
        <h2>Master preview </h2>
        <div id="masterpreview"></div>
        <hr />
        <h2>Master code </h2>
        <h4>Master HTML</h4>
        <pre>{{HTML}}</pre>
        <hr />
        <h4>Controller</h4>
        <pre>{{Controller}}</pre>
        <hr />
        <h4>Service</h4>
        <pre>{{Service}}</pre>
    </div>
</div>