<div class="well ">
    <form name="JSONForm" class="form-horizontal  " ng-controller="source">
        <fieldset>
            <!--Object name-->
            <div class="form-group" ng-class="{'has-warning':fields.Name==''}">
                <div class="col-md-12 ">
                    <input ng-model="fields.Name" class="form-control" placeholder="your objects name" required></input>
                </div>
            </div>
            <!--Object description-->
            <div class="form-group" ng-class="{'has-warning':fields.Description==''}">
                <div class="col-md-12 ">
                    <input ng-model="fields.Description" class="form-control" placeholder="your objects description" required></input>
                </div>
            </div>
            <!-- JSON Textarea -->
            <div class="form-group" ng-class="{'has-warning':fields.JSON=='' || fields.JSON==null}">
                <div class="col-md-12 ">
                    <textarea ng-model="fields.JSON" class="form-control MD resizevertical" id="jsoninput" name="jsoninput" rows="10" placeholder="paste JSON here" required></textarea>
                </div>
            </div>
            <!--solution name-->
            <div class="form-group" ng-class="{'has-warning':fields.SolutionName==''}">
                <div class="col-md-12 ">
                    <input ng-model="fields.SolutionName" class="form-control" placeholder="your solutions name ( example TBS.Betting.API )" required>
                </div>
            </div>
            <!--major version-->
            <div class="form-group" ng-class="{'has-warning':fields.MajorVersion==''}">
                <div class="col-md-12 ">
                    <input ng-model="fields.MajorVersion" class="form-control" placeholder="major version number" required>
                </div>
            </div>
            <!--minor version-->
            <div class="form-group" ng-class="{'has-warning':fields.MinorVersion==''}">
                <div class="col-md-12 ">
                    <input ng-model="fields.MinorVersion" class="form-control" placeholder="minor version number" required>
                </div>
            </div>
            <!--patch number-->
            <div class="form-group" ng-class="{'has-warning':fields.PatchNumber==''}">
                <div class="col-md-12 ">
                    <input ng-model="fields.PatchNumber" class="form-control" placeholder="patch number" required>
                </div>
            </div>
            <!-- Go Button -->
            <div class="form-group">
                <div class="col-md-12 ">
                    <button type="submit" class="btn btn-primary  pull-right col-xs-4" ng-click="Go($event)" ng-disabled="JSONForm.$invalid">Go</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
