<form class="form-horizontal">
    <fieldset>

        {{#each allElements}}
        <div class="form-group">
            <label class="col-md-2 control-label" for="{{this.humanised}}{{this.type}}input">{{this.humanised}}</label>
            <div class="col-md-10">
                {{#compare this.type "label"}}
                <label id="{{this.humanised}}labelinput" class="control-label">\{{ Selected.{{this.key}} }}</label>
                {{/compare}}

                {{#compare this.type "input"}}
                <input id="{{this.humanised}}inputinput" type="text" placeholder="{{this.humanised}}" class="form-control input-md" ng-model="Selected.{{this.key}}">
                {{/compare}}

                {{#compare this.type "email"}}
                <input id="{{this.humanised}}emailinput" type="email" placeholder="{{this.humanised}}" class="form-control input-md" ng-model="Selected.{{this.key}}">
                {{/compare}}

                {{#compare this.type "textarea"}}
                <textarea id="{{this.humanised}}textareainput" placeholder="{{this.humanised}}" class="form-control input-md" ng-model="Selected.{{this.key}}" />
                {{/compare}}

                {{#compare this.type "checkbox"}}
                <div class="checkbox">
                    <label>
                        <input id="{{this.humanised}}checkboxinput" type="checkbox" ng-model="Selected.{{this.key}}">
                    </label>
                </div>
                {{/compare}}

                {{#compare this.type "datepicker"}}
                <p class="input-group">
                    <input type="text" class="form-control" ng-model="Selected.{{this.key}}" is-open="opened" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                {{/compare}}

                {{#compare this.type "select"}}
                <select id="{{this.humanised}}selectinput" class="form-control " ng-model="Selected.{{this.key}}"></select>
                {{/compare}}



            </div>
        </div>
        {{/each}}


        <div class="col-md-10 col-md-push-2 BE padding vertical bottomlarge topsmall">
            <button class="btn btn-sm btn-success BE widebutton" ng-disabled="Selected==null  || Edit==true" ng-click="Edit{{name}}()">Edit</button>

            <button class="btn btn-sm btn-info BE spacehorizontal" ng-disabled="Selected.{{name}}ID==-1 || Edit==true" ng-click="New{{name}}()">New</button>
            <button class="btn btn-sm btn-info" ng-disabled="Selected==null || Selected.{{name}}ID==-1 || Edit==true" ng-click="Copy{{name}}()">Copy</button>
            <button class="btn btn-sm btn-danger BE spacehorizontal" ng-disabled="Selected==null" ng-click="Delete{{name}}()">Delete</button>

            <button class="btn btn-sm btn-warning BE spacehorizontal" ng-disabled="Selected==null || Selected.{{name}}ID==-1 || Edit==false" ng-click="Reset{{name}}()">Cancel</button>
            <button class="btn btn-sm btn-success BE extrawidebutton spacehorizontal" ng-disabled="Selected==null || Edit==false" ng-click="Save{{name}}()">Save</button>
        </div>

    </fieldset>
</form>